@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

* {
  margin: 0;    /*removes margins around every element*/
  box-sizing: border-box;
}

article {
	/*border: 3px solid cyan;*/
	margin: 0px auto;
	margin-bottom: 50px;
	max-width: 850px;
	padding: 10px;
	font-family: "Crimson Text", serif;
	font-size: 20px;
}


.postHeader {
	/*border: 3px solid tomato;*/
	margin: 0px auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: -0.07em;
  max-width: 900px;
  padding: 10px;
}

.headerFig {
	/*border: 2px solid magenta;*/
	width: 100%;
}

.subheader {
	margin: 5px 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	letter-spacing: -0.05em;
}

figure {
	/*border: 2px solid lime;*/
	padding: 0px;
	margin: 20px auto;
	width: 98%;
}

/* figure class that shrinks portrait images*/
.portraitFig {
	width: 98%;
	max-width: 500px;
}

figure img {
	width: 100%;
	height: auto;
}

figcaption {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: right;
	letter-spacing: -0.03em;
	color: #555;
}

article p {
	max-width: 700px;
	margin: 10px auto;
	margin-top: 5px;
	margin-bottom: 10px;
	text-indent: 2em;
}


article li {
	text-indent: 0em;
	margin: 10px 0px;
}

footer {
	background-color: black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

footer > div {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 22px;
	letter-spacing: -0.05em;	

	color: white;
	padding: 1em;
}

div a {
	color: white;
	text-decoration: none;
}

div a:hover {
	text-decoration: underline;
}

.prev {
	text-align: left;
}

.home {
	text-align: center;
}

.next {
	text-align: right;
}

.divider {
	margin: 50px auto;
	font-size: 24px;
	text-align: center;
}

.chinese {
	font-family: "Noto Sans TC", sans-serif;
}