* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: inline;
  font-family: quasimoda, sans-serif;
  background-color: #f2f4f3;
  /* background: linear-gradient(-45deg, #f2f4f3 , #dbd5d1, #e4e4e4, #faf8f5); */
  background-size: 400% 400%;
  /* animation: gradient 30s ease infinite; */
  
  color: black;
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

 nav {
  white-space: nowrap;
  height: 7vh;
  width: 85%;
  margin: auto;
}

 nav ul {
  height: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;

}

nav li {
  margin: 0 1em;
  font-size: 18px;
  font-weight: 300;
  transition: text-shadow 0.4s;
}

nav li:last-child {
  text-align: right;
  margin-left: auto;
}

nav li a {
  text-decoration: none;
  color: black;
}

hr {
  height: 3px;
  color: black;
  background-color: black;
}


#mainPage {
  width: 85vw;
  max-width: 1200px;
  margin: auto;
}

#header {
  width: 80%;
  height: 93vh;
  max-width: 1200px;
  margin: auto;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#header h1 {
  font-size: 48px;
  font-weight: 500;
}

#mainContent {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
}

#info {
  flex: 1 1 0;
  display: flex;
}

#info ul {
  align-self: center;
  margin: 0px;
  padding: 0px;
}

#info li {
  list-style-type: none;
}

.listHeader:not(:first-child) {
  margin-top: 0.5em;
}


.listItem {
  margin-left: 1em;
  font-size: 24px;
  font-weight: 300;
}


.listItem:hover, nav li:not(:last-child):hover {
  font-weight: 500;
  cursor: pointer;
}

.listHeader {
  list-style-type: none;
  font-style: bold;
  font-size: 48px;
  font-weight: 500;
}

figure {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  height: 95%;
}


figure p {
  margin: 2em;
  font-weight: 300;
}


.projectContent img {
  width: 67%;
  margin-left: 16.5%;
}


.projectContent {
  margin: auto;
  display: none;
  overflow: scroll;
  font-size: 18px;
  font-weight: 300;
}

.scaudio {
  width: 80%;
  margin-left: 10%;
}



/* responsive stuff */
#mobileContact {
  display: none;
  width: 100%;
  margin: 100px auto 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #555;
}



@media only screen and (max-width: 460px) {

  nav {
    height: auto;
    width: 100%;
  }

  nav ul {
    margin: 100px 0;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
  }

  nav li {
    margin: 0 5px;
    text-align: center;
    font-size: 22px;

  }

  nav li:last-child {
    display: none;
  }

  #mainPage{
    width: 100%
  }

  #info {
    padding: 10px;
  }

  .listItem {
    margin-left: 4px;
  }

  #header {
    font-size: 16px;
    width: 100%;
    margin: 0;
    height: 100vh;
    padding: 10px;
    justify-content: space-between;
  }

  #header h1 {
    font-size: 36px;
    max-width: 300px;
    text-align: left;
  }

  #header p {
    max-width: 350px;
    font-size: 18px;
    text-align: right;
    margin-right: 0;
    align-self: flex-end;

  }

  #header p:last-child {
    text-align: left;
    align-self: flex-start;
  }

  figure {
    display: none;
  }

  .projectContent {
    margin: 0 1em;
  }

  .projectContent * {
    margin: 1em 0em;
  }

  .scaudio, .projectContent img {
    width: 90%;
    margin-left: 5%;
  }

  hr {
    display: none;
  }

  #mobileContact {display: block;}
}
